$layer-panel-row-parts-height:31px;

#editorRight{
	//background-color: #9FF;
	color:#333;
	height:100%;
	/*
	.accordion-header{

	}
	*/
	.accordion-collapse{
		padding:4px 0px 7px 0px;

		.accordion-body{
			font-size:1;
			line-height: 1;
			text-align: center;
		}
		
	}
	#previwAccordionGroup-collapse{
		#previewCanvas{
			margin:0 auto;
			display: block;
		}
		#previewRange{
			width:100px;
			margin:0 auto;
			display: block;
		}
	}

	#layerAccordionGroup-collapse{
		#layerPanelBody{
			padding:5px;
			
			> ul{
				margin:0;
				padding:0;
				border-top:1px solid #CCC;

				.layerPanelItem{
					display: flex;
					flex-direction: row;
					line-height:$layer-panel-row-parts-height;
					padding:5px;
					border-left:1px solid #CCC !important;
					border-right:1px solid #CCC !important;
					border-bottom:1px solid #CCC !important;
	
					&.active{//複数クラス
						background-color: #F1F1F1 !important;
						color:#333 !important;
					}
					&.hide{//複数クラス
						display: none;
					}
					.layerPanelItemCanvas{
						display: block;
						width:$layer-panel-row-parts-height;
						height:$layer-panel-row-parts-height;
						background-color: #FFF;
						border:1px solid #CCC;
					}
					.layerPanelItemEye::after {
						display: block;
						width: 30px;
						padding-top: 1px;
						height:$layer-panel-row-parts-height;
						//background-color: #FF9;
						font-family:'bootstrap-icons';
						content: "\F341";
						cursor:pointer;
					}
					.layerPanelItemEye.hide::after{
						content: "\F340";
					}
					.layerPanelItemTxt{
						display: block;
						width: auto;
						height:$layer-panel-row-parts-height;
						//background-color: #9FF;
						overflow: hidden;
						font-size:12px;
						cursor:text;
	
						>span.hide,
						>input.hide{
							display: none;
						}
						>input{
							/**/
							line-height: 1.4;
							appearance: none;
							background: transparent;
							border:none; 
							outline:none;
							padding:0;
							/**/
							width:100px;
							&::selection {
								color: #fff;
								background-color: #666;
							}
						}
					}
					.layerPanelItemHandle{
						display: block;
						width: 20px;
						height:$layer-panel-row-parts-height - 10px;
						margin-top:5px;
						//background-color: #F99;
						margin-left: auto;
						background-repeat: no-repeat;
						background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
						background-position: 70% 50%;
						cursor:move;
					}
				}
			}
			
		}
		#layerPanelHeader,
		#layerPanelFooter{
			#addLayerPanelItem{
				cursor:pointer;
				> svg{
					display: inline-block;
					transform: scaleY(-1);
				}
				&.disabled{
					cursor: default;
					> svg{
						fill: #999;
					}
				}
			}
			#deleteLayerPanelItem{
				cursor:pointer;
				display: inline-block;
				&.disabled{
					cursor: default;
					> svg{
						fill: #999;
					}
				}
			}
		}
	}
}

