/* Bootstrap を読み込む */
@import "~bootstrap/scss/bootstrap";

//--------------------------
//変数
//--------------------------
$color-white:#FFF;
$color-gray:#333;
$large-modal-width:800px;
$small-modal-width:300px;
$small-modal-height:200px;

//--------------------------
//Bootstrap の各パーツの調整
//--------------------------

//ドロップダウンメニュー
.dropdown-menu {
	position: relative;
	width: 160px;
	font-size:12px !important;

	> .dropend > .dropdown-menu {
		position: absolute;
		top: 0;
		left: 150px;
		visibility: hidden;
		display: block;
	}
	> .dropend > .dropdown-toggle {
		position: relative;
	}
	> .dropend > .dropdown-toggle::after  {
		position: absolute;
		top: 9px;
		right: 13px;
		font-size:14px;
	}
	> .dropend:hover > .dropdown-menu {
		visibility: visible;
	}
	.dropdown-menu > a{
		height:32px;
		padding-top:7px;
	}
	.dropdown-menu > a::after{
		//border:none;
		margin-left:10px;
		font-size:14px;
	}
}


//--------------------------
//--------------------------
#editor{
	width: 801px !important;
	margin:0 auto;

	> .menu{

		#fileDropdown{
			margin-right:30px;
		}
		#fileLoadInputs{
			display:none;
		}

		button{
			padding-top:0;
			padding-bottom:0;
			line-height: 1;
			height: 31px;
			border-color:$color-gray;
			color: $color-gray;
		}
		button:hover,
		button.active{
			color:$color-white;
		}
		//background: #CFC;
		padding: 10px 0 0 0;
		display: flex;
		flex-direction: row;


		//history
		#historyBtnGrp{
			margin-right:10px;
			/*
			#undo{
				
			}
			*/
			#redo{
				>i{
					display: inline-block;
					transform: scaleX(-1);
				}
			}
		}


		//edit
		#drawBtnGrp{
			margin-right:30px;

			#selectRange{
				padding-left:4px;
				padding-right:4px;
				svg{
					fill: #000;
					width:22px;
					height:22px;
				}
			}
			#selectRange:hover,
			#selectRange.active{
				svg{
					fill: #FFF;
				}
			}
		}
		#colorPalette{
			margin-right:10px;

			>span{
				display: inline-block;
				font-size: 1px;
				line-height: 1;
				border: 0;
				border: 1px solid #fff;

				>input{
					margin: 2px;
					padding: 0;
					border: 0px !important;
					color: #fff;
					background-color: #fff;
					width: 26px;
					height: 26px;
					border-color: $color-gray;
				}
			} 
			>span.active{
				border: 1px solid $color-gray;
			}
		}
	}
	.workspaceArea{
		padding: 10px 0 0 0;
		canvas{
			background: #FFF;
			padding: 0;
		}
	}
	footer{
		padding:100px 0px 20px 0;
		text-align: center;

		button{
			font-size: 12px;
		}

	}
}
//----------------------------
// modal
//----------------------------
#loadFromWPModal{

	.modal-content{
		height:480px;
		//background: #FCC;
	}
	.loadingView{
		padding-top:160px;
	}
	.mainView{
		width:100%;
		
		.topArea{
			padding:30px 2px 30px 3px;
			/*
			canvas{
				background: #99F;
			}
			*/
		}
		.bottomArea{
			text-align: center;

			ul#loadFromWPPagenation{
				margin-bottom: 0;
				padding-bottom:0;
				>li{
					>a{
						color:#333;
					}
				}
				>li.active{
					>a{
						background: #333;
						border-color: #333;
						color:#FFF;
					}
				}
				
			}
		}
	}
}

#saveToWpModal{

	.inputView{
		height:350px;

		h3{
			font-weight: normal;
			font-size:12px;
		}
		.topArea{
			input{
				width:100%;
				border-color:$color-gray;
				color: $color-gray;
			}
			padding-bottom:5px;
		}
		.middleArea{
			canvas{
				display: block;
				/*background: #999;*/
				width:400px;
				height:200px;
				margin:0 auto;
			}
		}
		.bottomArea{
			text-align: center;
		}
	}
	.loadingView{
		height:350px;
		padding-top:160px;
	}
	.completeView{
		height:350px;

		.topArea{
			text-align: center;
			padding-top:130px;
			padding-bottom:150px;
		}
		.bottomArea{
			text-align: center;
		}
	}
}

//--------------------------
//汎用
//--------------------------
.display-none{display: none !important;}