/* Bootstrap を読み込む */
@import "~bootstrap/scss/bootstrap";

//--------------------------
//変数
//--------------------------
$color-white:#FFF;
$color-gray:#333;
$modal-width:800px;

//--------------------------
//Bootstrap の各パーツの調整
//--------------------------

//ドロップダウンメニュー
.dropdown-menu {
	position: relative;
	width: 160px;
	font-size:12px !important;

	> .dropend > .dropdown-menu {
		position: absolute;
		top: 0;
		left: 150px;
		visibility: hidden;
		display: block;
	}
	> .dropend > .dropdown-toggle {
		position: relative;
	}
	> .dropend > .dropdown-toggle::after  {
		position: absolute;
		top: 9px;
		right: 13px;
		font-size:14px;
	}
	> .dropend:hover > .dropdown-menu {
		visibility: visible;
	}
	.dropdown-menu > a{
		height:32px;
		padding-top:7px;
	}
	.dropdown-menu > a::after{
		//border:none;
		margin-left:10px;
		font-size:14px;
	}
}

//モーダルウィンドウ
.modal{
	>.modal-dialog{
		width:$modal-width !important;
		max-width:$modal-width !important;

		>.modal-content{
			width:$modal-width !important;
			max-width:$modal-width !important;
		}
	}
}
.modal-backdrop{
	min-width:$modal-width !important;
	height:100% !important;
}

//ページネーション
.pagination {
	>li{
		>a{
			color: $color-gray !important;
		}
	}
	>li.active{
		>a{
			background: $color-gray !important;
			border-color: $color-gray !important;
			color: $color-white !important;
		}
	}
}
//アコーディオンメニュー
.accordion{
	.accordion-item{
		h2.accordion-header{
			button.accordion-button{
				padding:5px 10px 5px 10px;
				font-size:14px;
				color:$color-gray;
				background-color:$color-white;
				&::after{
					width:14px;
					height:14px;
					background-size: 14px;
					background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2333333'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
				}
			}
		}
		.accordion-body{
			padding:0;
		}
	}
}



//ハンドル
.inputRange[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #ddd;
	height: 2px !important;
	width: 100%;

	&:focus,
	&:active {
		outline: none;
	}
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
		position: relative;
		border: none;
		width: 12px;
		height: 12px;
		display: block;
		background-color: #777;
		border-radius: 50%;
		-webkit-border-radius: 50%;
	}
}
//--------------------------
// editor
//--------------------------

#editor{
	width: 1050px !important;
	height: 600px;
	margin:10px auto 0 auto;
	display: flex;
	flex-direction: row;
	//background-color: #FCC;
	
	> #editorLeft{
		width:800px !important;

		> #editorLeftTop{
			display: flex;
			flex-direction: row;

			#fileDropdown{
				margin-right:30px;
			}
			#fileLoadInputs{
				display:none;
			}

			button{
				padding-top:0;
				padding-bottom:0;
				line-height: 1;
				height: 31px;
				border-color:$color-gray;
				color: $color-gray;
			}
			button:hover,
			button.active{
				color:$color-white;
			}
			//history
			#historyBtnGrp{
				margin-right:10px;
				/*
				#undo{
					
				}
				*/
				#redo{
					>i{
						display: inline-block;
						transform: scaleX(-1);
					}
				}
			}

			//edit
			#drawBtnGrp{
				margin-right:30px;

				#selectRange,
				#copy{
					padding-left:4px;
					padding-right:4px;
					svg{
						fill: #000;
						width:22px;
						height:22px;
					}
				}
				#selectRange:hover,
				#selectRange.active,
				#copy:hover,
				#copy.active{
					svg{
						fill: $color-white;
					}
				}
			}

			//color
			#colorPalette{
				margin-right:10px;

				>span{
					display: inline-block;
					font-size: 1px;
					line-height: 1;
					border: 0;
					border: 1px solid $color-white;

					>input{
						margin: 2px;
						padding: 0;
						border: 0px !important;
						color: $color-white;
						background-color: $color-white;
						width: 26px;
						height: 26px;
						border-color: $color-gray;
					}
				} 
				>span.active{
					border: 1px solid $color-gray;
				}
			}


		}

		> #editorLeftMiddle{
			/*background-color: #9F9;*/

			display: flex;
			flex-direction: row;
			#workspace1Container,
			#workspace2Container{
				text-align: center;
				background-color: #FFF;
				overflow-x: scroll;
				
				/*スクロールバーのデザイン*/
				&::-webkit-scrollbar {
					overflow:hidden;
					width:2px;
					background:#EEE;
			
					&:horizontal {
						height:2px;
					}
				}
				&::-webkit-scrollbar-button {
						display:none;
				}
				&::-webkit-scrollbar-piece {
						background:#eee;
						&:start {
							background:#eee;
						}
				}
				&::-webkit-scrollbar-thumb {
						background:#AAA;
				}
				&::-webkit-scrollbar-corner {
						background:#AAA;
				}
			}
			.gutter {
				background-color: #FFF;
				background-repeat: no-repeat;
				background-position: 50%;
			}
			.gutter.gutter-horizontal {
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
			}
			
			canvas{
				background: $color-white;
				padding: 0;
				width:500px;
				height:500px;
			}
		}

	}
	> #editorRight{
		margin-left: auto;
	}
}
//--------------------------
// footer
//--------------------------
footer{
	padding:100px 0px 20px 0;
	text-align: center;

	button{
		font-size: 12px;
	}

}
@import "./editor-right.scss";
//----------------------------
// modal
//----------------------------
#loadFromWPModal{
	.modal-content{
		height:480px;
		//background: #FCC;
		/*
		>.modal-header{
		}
		*/
		>.modal-body{
			.loadingView{
				padding-top:160px;
			}
			.mainView{
				width:100%;
				
				.topArea{
					padding:30px 2px 30px 3px;
					/*
					canvas{
						background: #99F;
					}
					*/
				}
				.bottomArea{
					text-align: center;
		
					ul#loadFromWPPagenation{
						margin-bottom: 0;
						padding-bottom:0;
						
					}
				}
			}
		}
	}
}

#saveToWpModal{
	.modal-content{
		.inputView{
			height:350px;

			h3{
				font-weight: normal;
				font-size:12px;
			}
			.topArea{
				input{
					width:100%;
					border-color:$color-gray;
					color: $color-gray;
				}
				padding-bottom:5px;
			}
			.middleArea{
				canvas{
					display: block;
					/*background: #999;*/
					width:400px;
					height:200px;
					margin:0 auto;
				}
			}
			.bottomArea{
				text-align: center;
			}
		}
		.loadingView{
			height:350px;
			padding-top:160px;
		}
		.completeView{
			height:350px;

			.topArea{
				text-align: center;
				padding-top:130px;
				padding-bottom:150px;
			}
			.bottomArea{
				text-align: center;
			}
		}
}
}

//--------------------------
//汎用
//--------------------------
.display-none{display: none !important;}